<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warmest Weather</title>
    <h1>Warmest Weather</h1>

    <p>Warmest day of <%= weather.location %> is <%= weather.Day %></p>
</head>
<body>
    
</body>
</html>